exportPattern("^Cairo")
importFrom("grDevices", "dev.cur")
importFrom("graphics", "par")
export(SensePNG)
# export(SenseSVG)
export(SetSenseCacheDir)
export(SenseDevices)
export(SenseDeviceChanges)
export(SensePNGToBase64)
