exportPattern("^Cairo")
export(SensePNG)
# export(SenseSVG)
export(SetSenseCacheDir)
export(SenseDevices)
export(SenseDeviceChanges)
export(SenseDeviceData)
export(CacheSenseDevice)
export(SensePNGToBase64)